html, body{
height:100%;
min-height:100%;
}

.width_outer_container{
    width:80vh !important;
}

.topbar_dimensions{
    height: 6vh;
     margin-top: 1vh;
}

.topbar_element{
    height: 3vh; 
    font-size: 2vh; 
    overflow: hidden;
}

.height_outer_container{
    height:80vh;
}

#margin_container{

    margin-top:5vh;
    margin-bottom:5vh;
}

.calculator_screen{
    height: 10vh;
}

.calculator_screen_number{
    font-size: 8vh;
}

.number_pad_margin{
    padding-top:2vh;
}

.number_pad_grid{
    height:20vh; 
    width:20vh;
    padding:1vh;
}

.create_button_grid{
    height:12vh; 
    width:12vh;
    padding:1vh;
}

.button_dimension{
    height:18vh; 
    width:18vh;
}

.create_button_dimension{
    height:10vh; 
    width:10vh;
}

.adding_button{
    padding:1vh;
}

.button_width{
    width:18vh;
}

.button_font_short{
    font-size:6vh;
}
.button_font_long{
    font-size:4vh;
}

.padding_zero{
    padding: 0px !important;
}